<nav class="overflow-hidden relative z-10 h-[590px] grid grid-cols-12 w-full mx-auto py-[4rem] items-center">
  <div class="col-span-12 w-full">
    <video autoplay loop muted class="absolute z-1 top-0 left-0 w-full h-auto  bg-blend-darken">
      <source src="/static/images/5309381-hd_1920_1080_25fps.mp4" />
    </video>

    <div class="w-full h-full  bg-gray-900/50 absolute top-0 left-0"></div>

    <div class="container relative z-10 flex items-center justify-center mt-5">
      <div class="flex items-center gap-2">
        <ul class="flex items-center">
          <select class="flex items-center rounded-3xl bg-transparent outline-none select-none text-white font-bold">
            <option value="2">Posts</option>
            <option value="3">Categories</option>
            <option value="4">Pages</option>
          </select>
        </ul>
        <ul class="flex items-center">
          <select class="flex items-center rounded-3xl bg-transparent outline-none select-none text-white font-bold">
            <option value="1">Posts</option>
            <option value="2">Posts</option>
            <option value="3">Categories</option>
            <option value="4">Pages</option>
          </select>
        </ul>
        <ul class="flex items-center">
          <select class="flex items-center rounded-3xl bg-transparent outline-none select-none text-white font-bold">
            <option value="1">Categories</option>
            <option value="2">Posts</option>
            <option value="3">Categories</option>
            <option value="4">Pages</option>
          </select>
        </ul>
        <ul class="flex items-center">
          <select class="flex items-center rounded-3xl bg-transparent outline-none text-white font-bold">
            <option value="1">Pages</option>
            <option value="2">Posts</option>
            <option value="3">Categories</option>
            <option value="4">Pages</option>
          </select>
        </ul>
      </div>

      <div class="flex items-center justify-between w-[60%]">
        <h1
          class="col-span-4 text-center text-6xl font-bold text-white ml-auto mr-auto flex items-center justify-center select-none">
          GM</h1>
        <div class="h-2 flex items-center justify-center col-span-4">
          <div class="flex items-center ml-[20px] select-none hover:transform hover:scale-110 transition duration-300">
            {% if request.user.is_authenticated %}
            <i class="text-white fa-solid fa-arrow-right-from-bracket"></i>
            <a class="text-white ml-[5px] font-bold" href="{% url 'logout' %}">Logout</a>
            {% else %}
            <i class="text-white  fa-solid fa-user"></i>
            <a class="text-white ml-[5px] font-bold" href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
          <div class="flex items-center ml-[20px] select-none hover:transform hover:scale-110 transition duration-300">
            <i class="text-white fa-solid fa-search"></i>
            <a class="text-white ml-[5px] font-bold" href="#">Search</a>
          </div>
          <div class="flex items-center ml-[20px] select-none hover:transform hover:scale-110 transition duration-300">
            <i class="text-white fa-solid fa-bars"></i>

            <button class="menu text-white ml-[5px] font-bold" href="#">Menu</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container w-full flex flex-col items-start justify-center h-[38rem] col-span-12">
    <div class="flex flex-col w-[400px] items-start justify-start gap-2 mt-5 ">
      <div class="flex items-center gap-2 z-10 mb-3">
        <i
          class="fa-solid fa-fire w-[40px] h-[40px] bg-red-700 flex text-white rounded-full items-center justify-center"></i>
        <i
          class="fa-solid fa-bolt-lightning w-[40px] h-[40px] bg-blue-700 flex text-white rounded-full items-center justify-center"></i>
      </div>
      <div class="flex z-10">
        <button class="w-[90px] h-[30px] text-white bg-red-700 rounded-3xl">
          DESIGN
        </button>
        <button class="w-[60px] h-[30px] text-white ml-[5px] rounded-3xl" style="background-color: rgba(0, 0, 0, 0.5)">
          <i class="fa-solid fa-eye"></i> 3K
        </button>
      </div>
      <p class="text-white mt-[10px] font-bold z-10">
        How Halloween Helps Me Cope With My Friends Death
      </p>
      <div class="flex items-center z-10">
        <div class="flex items-center">
          <span class="text-white"><i class="text-sm text-white fa-solid fa-clock"></i> Posted On
            November</span>
        </div>
        <div class="flex items-center ml-[10px] translate-x-[30px]">
          <div class="bg-white w-[30px] h-[30px] rounded-full">
            <img class="w-[30px] h-[30px] rounded-full" src="static/images/asus.jpeg" alt="" />
          </div>

          <span class="text-white ml-[10px]">Marie Argei</span>
          <i class="text-[white] text-sm ml-[10px] fa-regular fa-comment"></i>
          <span class="ml-[10px] text-[white]">0</span>
        </div>
      </div>
    </div>
  </div>
</nav>

<div style="transform: translateX(-300px);" class="menu-div w-[300px] h-[600px] bg-black absolute top-[0px] z-10">
  <button class="xmark text-white absolute top-[20px] right-[20px] text-[25px]">X</button>
</div>

<script>

  let menu = document.querySelector('.menu')
  let menuDiv = document.querySelector('.menu-div')
  let xmark = document.querySelector('.xmark')
  let body =  document.querySelector('body')
  menu.addEventListener('click', ()=> {
    menuDiv.style.transform = 'translateX(0px)'
    menuDiv.style.transition = 'transform 0.5s ease'
  })
  xmark.addEventListener('click', ()=> {
    menuDiv.style.transform = 'translateX(-300px)'
    menuDiv.style.transition = 'transform 0.5s ease'
  })


</script>